@import "vars";
@import "reset";
@import "medias";

body{
    font-family: 'Montserrat', sans-serif;

}

header {
    width: 100vw;
    // height: 20vh;
    background-color: $color4;
    display: flex;
    justify-content: center;
    align-items: center;
    >h1 {
        font-family: 'MedievalSharp', cursive;
        Color: white;
        font-size: 3rem;
        font-weight: bold;
        text-align: center;
        margin: 4vh;
        > span {
             font-size: 7rem;
        }

    }
}

main {
    display: grid;
    >section {
        // height: 70vh;
        background-color: $color1;
        padding: 20px;
        &:nth-of-type(1) {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            >h2 {
                Color: $color5;
                font-size: 2rem;
                font-weight: bold;
                margin-bottom: 10vh;
                text-align: center;
            }
            >p {
                Color: $color5;
                font-size: 2rem;
                text-align: center;
            }
        }
        &:nth-of-type(2) {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
           
                
                #question {
                    Color: $color5;
                    font-size: 3rem;
                    font-weight: bold;
                    margin-bottom: 10vh;
                    text-align: center;
                }
                >form {
                    
                >ul {
                    >li {
                        Color: $color5;
                        font-size: 2rem;
                        text-align: center;
                        margin: 10px 0;
                        margin-top:1rem;
                        &:hover {
                            cursor: grab;
                        }
                    }
                    
                    .btn-red {
                      margin-top:2rem;
                      background-color: #ba0534;
                      align-items: center;
                      border: 1px solid transparent;
                      border-radius: .30rem;
                      box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
                      box-sizing: border-box;
                      color: #fff;
                      cursor: pointer;
                      font-size: 1.2rem;
                      font-weight: 600;
                      display: inline-flex;
                      justify-content: center;
                      min-height: 3rem;
                      padding: calc(.875rem - 1px) calc(1.5rem - 1px);
                      text-decoration: none;
                      transition: all 250ms;
                      touch-action: manipulation;
                      width: auto;
                    }
                    
                    .btn-red:hover,
                    .btn-red:focus {
                      background-color: #B22222;
                      box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
                    }
                    
                    .btn-red:hover {
                      transform: translateY(-1px);
                    }
                    
                    .btn-red:active {
                      background-color: #B22222;
                      box-shadow: rgba(0, 0, 0, .06) 0 2px 4px;
                      transform: translateY(0);
                    }
                    
                }
            }

        }
        &:nth-of-type(3){
            > figure{
                width: 100%;
                > img{
                    width: 100%;
                    color: $color5;
                }
            }
        }

    }
}
