/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html {
  overflow-x: hidden;
}
html header {
  height: 20vh;
  background-color: #AE2012;
  display: flex;
  justify-content: center;
  align-items: center;
}
html header > h1 {
  Color: white;
  font-size: 4rem;
  font-weight: bold;
}
html header > h1 > span {
  font-size: 7rem;
}
html main {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
html main > section {
  height: 80vh;
  background-color: #EE9B00;
  padding: 20px;
}
html main > section:nth-of-type(1) {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
html main > section:nth-of-type(1) > h2 {
  Color: #9B2226;
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 10vh;
  text-align: center;
}
html main > section:nth-of-type(1) > p {
  Color: #9B2226;
  font-size: 2rem;
  text-align: center;
}
html main > section:nth-of-type(2) {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
html main > section:nth-of-type(2) #question {
  Color: #9B2226;
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 10vh;
  text-align: center;
}
html main > section:nth-of-type(2) > form > ul > li {
  Color: #9B2226;
  font-size: 2rem;
  text-align: center;
  margin: 10px 0;
  margin-top: 1rem;
}
html main > section:nth-of-type(2) > form > ul > li:hover {
  cursor: grab;
}
html main > section:nth-of-type(2) > form > ul .btn-red {
  margin-top: 2rem;
  background-color: #ba0534;
  align-items: center;
  border: 1px solid transparent;
  border-radius: 0.3rem;
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  font-size: 1.2rem;
  font-weight: 600;
  display: inline-flex;
  justify-content: center;
  min-height: 3rem;
  padding: calc(0.875rem - 1px) calc(1.5rem - 1px);
  text-decoration: none;
  transition: all 250ms;
  touch-action: manipulation;
  width: auto;
}
html main > section:nth-of-type(2) > form > ul .btn-red:hover,
html main > section:nth-of-type(2) > form > ul .btn-red:focus {
  background-color: #B22222;
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
}
html main > section:nth-of-type(2) > form > ul .btn-red:hover {
  transform: translateY(-1px);
}
html main > section:nth-of-type(2) > form > ul .btn-red:active {
  background-color: #B22222;
  box-shadow: rgba(0, 0, 0, 0.06) 0 2px 4px;
  transform: translateY(0);
}
html main > section:nth-of-type(3) > figure > img {
  color: #9B2226;
}

/*# sourceMappingURL=style.css.map */
